@import "../../common/color.scss";

.header {
  background-color: $secondary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0px 10px;
}
.link {
  text-decoration: none;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 500px;
  height: 100%;
}

.search-input {
  width: 90%;
  height: 50%;
}
.search-button {
  cursor: pointer;
  margin-left: 10px;
  font-size: 20px;
  height: 50%;
  border: none;
  background: transparent;
  transition: all 0.3s;
  &:hover {
    transform: scale(1.3);
    transition: all 0.3s;
  }
}

.logo {
  color: $font-primary;
  font-weight: 600;
  font-size: 40px;
  text-decoration: none;
}

.icon {
  color: $font-primary;
}
